---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">关于我们</h2>
        <div class="tag-post-list">
          <ul>
            <li>大学生谢宇，陈啸，申明轩</li>
            <li>基于Astro和Django的Web小组大作业</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">链接</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://github.com/xieyumc/WebHomework2024" target="_blank">Github</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
