---
import BaseLayout from "../layouts/BaseLayout.astro";
import { config } from '../consts.js';
export const SITE_TITLE = config.SITE_TITLE;
export const SITE_DESCRIPTION = config.SITE_DESCRIPTION;

export const Footer3_Title = config.Footer3_Title;
export const Footer3_Website1_title = config.Footer3_Website1_title;
export const Footer3_Website1_url = config.Footer3_Website1_url;


---
<title>{`关于 — ${SITE_TITLE}`}</title>
<link rel="icon" href="../../public/favicon.png" type="image/x-icon" />


<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">

      <div class="archive-tag">
        <h2 class="tag-header">AppleBlog</h2>
        <div class="tag-post-list">
          <ul>
            <li>一个复刻<a href="https://www.apple.com/newsroom/" target="_blank">Apple Newsroom</a>的博客网站</li>
            <li><a href="https://github.com/xieyumc/AppleBlog" target="_blank">Github仓库</a></li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">{SITE_TITLE}</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              {SITE_DESCRIPTION}
            </li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">{Footer3_Title}</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href={ Footer3_Website1_url} target="_blank">{ Footer3_Website1_title }</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
