---
import { SITE_TITLE, SITE_EMAIL } from "../consts.js";
const { theme } = Astro.props;
import { SITE_NAME } from "../consts.js";
const date = new Date();
const year = date.getFullYear();
---

<div class:list={["footer-main", { "footer-dark": theme === "dark" }]}>
  <div class="content-body footer-wraper">
    <div class="footer-box">
      <div class="foot-nav">
        <div class="foot-nav-items">
          <div class="item">
            <div class="logo">{SITE_TITLE}</div>
            <div class="email">Email: {SITE_EMAIL}</div>
          </div>

          <div class="item products">
            <div class="item-title">导航</div>
            <a href="/" target="_blank">首页</a>

          </div>

          <div class="item community">
            <div class="item-title">仓库</div>

            <a href="https://github.com/xieyumc/WebHomework2024" target="_blank">Github</a>

          </div>
          
          <div class="item resources">
            <div class="item-title">联系</div>
            <a href="https://github.com/xieyumc" target="_blank">谢宇</a>
            <a href="https://github.com/shangshan111-1" target="_blank">陈啸</a>
            <a href="https://github.com/chikaGorge" target="_blank">申明轩</a>
          </div>

        </div>
      </div>
      <div class="bottom">
        <div class="copyright">
          &copy; {`${year} ${SITE_NAME}`} 
          <a href="https://github.com/xieyumc/WebHomework2024">WebHomework2024</a>
        </div>
      </div>
    </div>
  </div>
</div>
