---
import { config } from "../consts.js";
export const SITE_TITLE = config.SITE_TITLE;

---


<nav class="nav">
  <div class="nav-wrapper">
    <div class="nav-content-wrapper">
      <div class="nav-content">
        <a href="/" class="nav-title">{SITE_TITLE}</a>
        <div class="nav-menu">
          <!--<div class="nav-item-wrapper">-->
          <!--  <a href="/login" class="nav-item-content">登录</a>-->
          <!--</div>-->
          <div class="nav-item-wrapper">
            <a href="/archive" class="nav-item-content">目录</a>
          </div>
          <div class="nav-item-wrapper">
            <a href="/about" class="nav-item-content">关于</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</nav>
